/* below 768px */

@media (max-width: 48em) {
  html {
    font-size: 50%;
  }

  body {
    max-width: 76rem;
  }
  .container {
    width: 75rem;
  }

  .main-navigation {
    display: none;
  }
  .nav-menu-btn {
    display: none;
  }
  .burger-menu-btn {
    display: block;
  }
  .hero-title {
    line-height: 7.5rem;
  }
  .hero-txt {
    line-height: 2.2rem;
  }

  .hero-content {
    width: 100%;
    padding: 10rem 6rem;
  }

  .favorite-title {
    text-align: center;
  }
  .favorite__slider--btns {
    top: 40vw;
  }

  .image-three,
  .image-two {
    display: none;
  }

  .photo-gallery {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .app {
    flex-direction: column;
  }

  .app-content {
    margin-top: 10rem;
  }
  .mobile-screens {
    margin-top: 10rem;
  }

  .footer-container {
    flex-direction: column;
  }
  .footer-wrap {
    padding: 10rem 8rem;
  }
  .footer-container {
    padding: 0;
    gap: 0;
  }

  .menu-title {
    width: 68rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* navigation */
  .navigation__checkbox {
    display: none;
}

.navigation__button {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 2rem;
    right: 12rem;
    border-radius: 50%;
    border: 1px solid #403f3d;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(#444, .1);
    text-align: center;
    cursor: pointer;
}

.navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: #fff;
    z-index: 1000;
    transition: transform .8s;
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    background-color: #e1d4c9;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__item {
    margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 2rem;
    color: #403f3d;
    text-decoration: none;
    background-size: 250%;
    transition: all .4s;
}

.navigation__link:hover,
.navigation__link:active {
    background-position: 100%;
    color: #daaaaa;
    transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
}

.navigation__icon {
    position: relative;
    margin-top: 2.9rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 3rem;
    height: 0.5rem;
    background-color: #403f3d;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.navigation__icon::before {
    top: -.8rem;
}

.navigation__icon::after {
    top: .8rem;
}

.navigation__button:hover .navigation__icon:before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon:after {
    top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.products__content--active {
  grid-template-columns: 1fr 1fr;
 
}


}

/* below 380px */

@media (max-width: 23.75em) {
  html {
    font-size: 50%;
  }

  body {
    width: 38rem;
  }
  .container {
    width: 38rem;
  }
  .hero-title,
  .footer-title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .section-hero {
    display: flex;
    align-items: center;
  }
  .hero-content {
    padding: 6rem 1.6rem;
  }
  .favorite-title,
  .gallery-title,
  .app-title,
  .menu-title {
    font-size: 3rem;
  }
  .favorite__slider--btns {
    display: none;
  }
  .coffee-description{
    width: 33rem;
  }
  .footer-wrap {
    width: 30rem;
    padding: 6rem 1.2rem;
  }
  .footer-title{
    font-size: 2.8rem;
  }
  .mobile-screens{
    margin-top: 0;
  }
  .cards{
    grid-template-columns: 1fr;
    grid-templete-row: auto;
    justify-items: center;
  }
  .products__content--active {
    grid-template-columns: 1fr;
   
  }
}
